body {
  background-color: #faebf5;
  color: #282828;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Open Sans', serif;
  font-weight: 600;
  color: #4F3C4A;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: #9E2543;
  opacity: 0.8;
}

a:hover {
  text-decoration: none;
  color: #9E2543;
  opacity: 1;
}

li {
  list-style-type: none;
}

/*DIVS*/
.container {
  width: auto;
  min-width: 300px;
  max-width: 800px;   /* This sets the width */
  margin: 0 auto;
}

.card {
  background-color: #FFF;
  margin: 40px;
  padding: 40px 20px;
  border-radius: 3px;
  align-items: center;
  text-align: center;
  -webkit-box-shadow: 1px 4px 15px 0px rgba(161,161,161,0.3);
  -moz-box-shadow: 1px 4px 15px 0px rgba(161,161,161,0.3);
  box-shadow: 1px 4px 15px 0px rgba(161,161,161,0.3);
}

#footer {
  background-color: #BAA898;
  color: #EFE9E7;
  padding: 20px 40px;
  text-align: center;
}

/*custom*/
.img-circle {
  max-width: 50%;
  width: auto;
  height: auto;
  border-radius: 80%;
}

.btn-pink {
  background-color: #9E2543;
  opacity: 0.8;
  color: #FFF;
  border-radius: 5px;
  padding: 10px 15px;
  text-transform: uppercase;
  font-weight: 600;
}

.btn-pink:hover {
  background-color: #9E2543;
  opacity: 1;
  color: #FFF;
}

.img-movie {
  max-width: 100%;
  width: auto;
  height: auto;
}

.list-icons {
  margin: 0 auto;
  text-align: center;
  padding-left: 0px;
}

.list-icons li {
  display: inline-block;
  font-size: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.movie-description {
  width: 60%;
  padding: 10px;
}

.table-img {
  width: 30%;
  padding: 10px;
}
/*media queries*/
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
